.fixButtonDiv {
  font-family: "NotoKR-Medium Medium";
  font-size: 0.7rem;
  cursor: pointer;

  position: fixed;
  border: none;
  border-radius: 16px;
  background: salmon;
  color: white;
  padding: 10px;
  box-shadow: 0px 5px 15px gray;

  display: flex;
  align-items: center;
}

.fixButtonCloseDiv {
  color: rgb(199, 199, 199);
  width: 20px;
}

.fix2 {
  bottom: 60px;
}

.fix1 {
  bottom: 15px;
}

.fixNone {
  display: none;
}

@media (hover: none) and (pointer: coarse) {
  .fixButtonDiv {
    right: 10px;
  }

  #footer {
    margin-top: 2vh;
  }
}

@media (hover: hover) and (pointer: fine) {
  .mapDiv {
    cursor: pointer;
  }
  .mapDiv:hover {
    background-color: rgb(241, 214, 208);
  }

  .fixButtonDiv {
    right: 15px;
  }

  .fixButtonDiv:hover {
    background-color: rgb(255, 152, 141);
    font-size: 0.71rem;
  }

  #footer {
    margin-top: 20px;
  }
}
